.jumbotron 
{
	background-color: lightblue;
	text-align: center;
	color:red;
}

.cover 
{
    border: 5px solid;
    border-radius: 10px;
    color: lightpink;
}

.info
{
    margin: 50px;
    font-size: 25px;
    color:red;
}

